<div 
     style="color: #00529B; background-color: #BDE5F8; border-color:blue; border:solid; padding-left:10%; margin-left:20%; margin-right:20%" >
    <h2>We're sorry, we are temporarily unable to process your request.</h2>
</div>
